<mat-toolbar color="primary">
  Login with Firebase

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginBtn">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ user.displayName }}
    </button>
  </ng-container>

  <ng-template #loginBtn>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>