<div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
    <h1>User Profile</h1>
    <div class="profile-img">
        <img width="120px" height="120px" [src]="user.photoURL ?? 'assets/images/user_placeholder.png'" />
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
        </button>
        <input #inputField type="file" hidden (change)="uploadImage($event, user)">
    </div>
    <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="save()">
        <div class="row">
            <mat-form-field>
                <input type="text" matInput placeholder="First Name" formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input type="text" matInput placeholder="Display Name" formControlName="displayName" />
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Phone" formControlName="phone" />
            </mat-form-field>
        </div>
        <mat-form-field>
            <input type="text" matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <button type="submit" mat-raised-button class="margin-top">Save</button>
    </form>
</div>